.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(58, 0, 0, 0.7),rgba(58, 0, 0, 0.7)), url('../../assets/hero2.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}
.hero-logo {
    max-width: 200px; /* Adjust size as needed */
    margin-bottom: 2rem; /* Space between logo and text */
}

.hero-text .btn {
    margin-top: 2rem; /* Adjust this value to increase/decrease spacing */
}

.btn {
    display: inline-block;
    margin: 0 auto; /* Centers the button */
}